CREATE database IF NOT EXISTS CMSCA2;


USE CMSCA2;


CREATE TABLE Courses (
    course_id INT,
    course_name VARCHAR(50),
    course_description TEXT,
    course_duration INT,
    course_level ENUM('Beginner', 'Intermediate', 'Advanced'),
    course_price DECIMAL(10,2)
);

CREATE TABLE Students (
    student_id INT,
    student_name VARCHAR(60),
    date_of_birth DATE,
    email VARCHAR(40),
    phone_number VARCHAR(20),
    enrollment_date DATETIME
);

CREATE TABLE Enrollments (
    enrollment_id INT,
    student_id INT,
    course_id INT,
    enrollment_date DATETIME,
    completion_status ENUM('Enrolled', 'Completed', 'Withdrawn'),
    grade DECIMAL(4,2)
);

CREATE TABLE Grades (
    grade_id INT,
    enrollment_id INT,
    exam_name VARCHAR(35),
    exam_date DATE,
    score DECIMAL(4,2)
);

CREATE TABLE Feedback (
    feedback_id INT,
    enrollment_id INT,
    feedback_date DATETIME,
    feedback_text TEXT,
    rating INT
);



ALTER TABLE Courses
ADD PRIMARY KEY (course_id);

ALTER TABLE Students
ADD PRIMARY KEY (student_id);

ALTER TABLE Enrollments
ADD PRIMARY KEY (enrollment_id),
ADD FOREIGN KEY (student_id) REFERENCES Students(student_id),
ADD FOREIGN KEY (course_id) REFERENCES Courses(course_id);

ALTER TABLE Grades
ADD PRIMARY KEY (grade_id),
ADD FOREIGN KEY (enrollment_id) REFERENCES Enrollments(enrollment_id);

ALTER TABLE Feedback
ADD PRIMARY KEY (feedback_id),
ADD FOREIGN KEY (enrollment_id) REFERENCES Enrollments(enrollment_id);




LOAD DATA INFILE 'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\Courses.csv'
INTO TABLE courses
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
;

LOAD DATA INFILE 'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\Students.csv'
INTO TABLE Students
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
;

LOAD DATA INFILE 'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\grades.csv'
INTO TABLE Grades
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
;

LOAD DATA INFILE 'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\Enrollments.csv'
INTO TABLE Enrollments
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
;

LOAD DATA INFILE 'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\Feedback.csv'
INTO TABLE Feedback
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
;



ALTER TABLE Courses
ADD CONSTRAINT CHK_CourseDuration CHECK (course_duration > 0);

ALTER TABLE Enrollments
ADD CONSTRAINT CHK_GradeRange CHECK (grade >= 0 AND grade <= 100);

ALTER TABLE Enrollments
ADD CONSTRAINT CHK_CompletionStatus CHECK (completion_status IN ('Enrolled', 'Completed', 'Withdrawn'));

ALTER TABLE Feedback
ADD CONSTRAINT CHK_RatingRange CHECK (rating >= 1 AND rating <= 5);




ALTER TABLE Students
ADD CONSTRAINT UQ_StudentEmail UNIQUE (email);

ALTER TABLE Feedback
ADD CONSTRAINT UQ_EnrollmentFeedback UNIQUE (enrollment_id, feedback_id);



SELECT *
FROM Enrollments e
JOIN Students s ON e.student_id = s.student_id;

SELECT *
FROM Enrollments e
JOIN Courses c ON e.course_id = c.course_id;

SELECT *
FROM Grades g
JOIN Enrollments e ON g.enrollment_id = e.enrollment_id;

SELECT *
FROM Feedback f
JOIN Enrollments e ON f.enrollment_id = e.enrollment_id;
