CREATE database IF NOT EXISTS CMSCA2;

USE CMSCA2;

CREATE TABLE Courses (
    course_id INT AUTO_INCREMENT PRIMARY KEY,
    course_name VARCHAR(255),
    course_description TEXT,
    course_duration INT,
    course_level ENUM('Beginner', 'Intermediate', 'Advanced'),
    course_price DECIMAL(10,2)
);
