DROP database cmsca2;

CREATE database IF NOT EXISTS CMSCA2;

USE CMSCA2;

CREATE TABLE Courses (
    course_id INT PRIMARY KEY,
    course_name VARCHAR(50),
    course_description TEXT,
    course_duration INT,
    course_level ENUM('Beginner', 'Intermediate', 'Advanced'),
    course_price DECIMAL(10,2)
);

CREATE TABLE Students (
    student_id INT PRIMARY KEY,
    student_name VARCHAR(60),
    date_of_birth DATE,
    email VARCHAR(40),
    phone_number VARCHAR(20),
    enrollment_date DATETIME
);

CREATE TABLE Enrollments (
    enrollment_id INT PRIMARY KEY,
    student_id INT,
    course_id INT,
    enrollment_date DATETIME,
    completion_status ENUM('Enrolled', 'Completed', 'Withdrawn'),
    grade DECIMAL(4,2),
    FOREIGN KEY (student_id) REFERENCES Students(student_id),
    FOREIGN KEY (course_id) REFERENCES Courses(course_id)
);

CREATE TABLE Grades (
    grade_id INT PRIMARY KEY,
    enrollment_id INT,
    exam_name VARCHAR(35),
    exam_date DATE,
    score DECIMAL(4,2),
    FOREIGN KEY (enrollment_id) REFERENCES Enrollments(enrollment_id)
);

CREATE TABLE Feedback (
    feedback_id INT PRIMARY KEY,
    enrollment_id INT,
    feedback_date DATETIME,
    feedback_text TEXT,
    rating INT,
    FOREIGN KEY (enrollment_id) REFERENCES Enrollments(enrollment_id)
);


SHOW VARIABLES LIKE 'secure_file_priv';
SET GLOBAL secure_file_priv = '';

LOAD DATA INFILE 'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\Courses.csv'
INTO TABLE courses
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
;

LOAD DATA INFILE 'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\Students.csv'
INTO TABLE Students
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
;

LOAD DATA INFILE 'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\grades.csv'
INTO TABLE Grades
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
;

LOAD DATA INFILE 'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\Enrollments.csv'
INTO TABLE Enrollments
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
;

LOAD DATA INFILE 'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\Feedback.csv'
INTO TABLE Feedback
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
;

ALTER TABLE Courses
ADD CONSTRAINT CHK_CourseDuration CHECK (course_duration > 0);

ALTER TABLE Enrollments
ADD CONSTRAINT CHK_GradeRange CHECK (grade >= 0 AND grade <= 100);

ALTER TABLE Enrollments
ADD CONSTRAINT CHK_CompletionStatus CHECK (completion_status IN ('Enrolled', 'Completed', 'Withdrawn'));

ALTER TABLE Feedback
ADD CONSTRAINT CHK_RatingRange CHECK (rating >= 1 AND rating <= 5);

